# Python files
*.pyc
.pyc

# Eclipse files
.settings
.metadata
.project
.pydevproject

# Vim -_-
*.swp

# Used by tests
serverlist.xml

# Used for testing
src/luma/snippets/*

# distutils
dist/*
build/*
MANIFEST
