#!/usr/bin/env xdg-open
[Desktop Entry]
Version=3.0.3
Comment=LDAP browser and administration utility
Exec=luma %U
Icon=luma
Terminal=false
Type=Application
Encoding=UTF-8
StartupNotify=true
Categories=Application;System;
Name=Luma LDAP Browser
Name[af]=Luma LDAP Leser
Name[ar]=Luma LDAP متصفح
Name[be]=Luma LDAP Браўзэра
Name[bg]=Luma LDAP Браузър
Name[ca]=Luma LDAP Navegador
Name[cs]=Luma LDAP Prohlížeče
Name[cy]=Luma LDAP Porwr
Name[da]=Luma LDAP Browser
Name[de]=Luma LDAP Browser
Name[el]=Luma LDAP Browser
Name[en]=Luma LDAP Browser
Name[es]=Luma LDAP Navegador
Name[et]=Luma LDAP Browser
Name[fa]=Luma LDAP مرورگر
Name[fi]=Luma LDAP Selaimen
Name[fr]=Luma LDAP Navigateur
Name[ga]=Luma LDAP Brabhsálaí
Name[gl]=Luma LDAP Navegador
Name[he]=Luma LDAP הדפדפן
Name[hi]=Luma LDAP ब्राउज़र
Name[hr]=Luma LDAP Preglednik
Name[hu]=Luma LDAP Böngésző
Name[id]=Luma LDAP Browser
Name[is]=Luma LDAP Browser
Name[it]=Luma LDAP Browser
Name[ja]=Luma LDAP ブラウザ
Name[ko]=Luma LDAP 브라우저
Name[lt]=Luma LDAP Naršyklės
Name[lv]=Luma LDAP Browser
Name[mk]=Luma LDAP Пребарувач
Name[ms]=Luma LDAP Browser
Name[mt]=Luma LDAP Browser
Name[nl]=Luma LDAP Browser
Name[no]=Luma LDAP Utforsker
Name[pl]=Luma LDAP Przeglądarka
Name[pt]=Luma LDAP Browser
Name[ro]=Luma LDAP Browser
Name[ru]=Luma LDAP Браузера
Name[sk]=Luma LDAP Prehliadače
Name[sl]=Luma LDAP Browser
Name[sq]=Luma LDAP Browser
Name[sr]=Luma LDAP Претраживач
Name[sv]=Luma LDAP Utforskare
Name[sw]=Luma LDAP Browser
Name[th]=Luma LDAP เบราว์เซอร์
Name[tl]=Luma LDAP Browser
Name[tr]=Luma LDAP Tarayıcı
Name[uk]=Luma LDAP Браузера
Name[vi]=Luma LDAP Browser
Name[yi]=Luma LDAP בלעטערער
Name[zh]=Luma LDAP 浏览器
